.SelectContainer {
  position: relative;
}

.SelectHeader {
  $size: 12px;
  width: 100%;
  height: 100%;
  background: $input;
  font-size: em($size);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: em(10px, $size);
  padding: 0 em(17px, $size);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: em(44px, $size);

  p {
    font-weight: normal;
    line-height: 120%;
    color: $placeholder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .NotEmpty {
    color: $black;
  }
}

.NotEmpty {
  color: $black;
}

.SelectHeaderFocus {
  border: 2px solid $yellow;
}

.IconArrow {
  width: em(12px);
  height: em(12px);
  position: absolute;
  right: em(19px);
}

.IconArrowTop {
  top: calc(45% - em(12px));
}

.IconArrowBottom {
  bottom: calc(45% - em(12px));
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.SelectList {
  position: absolute;
  top: em(50px);
  z-index: 1000;
  width: 100%;
  background: #f2f5f6;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: em(10px);
  max-height: em(166px);
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.SelectList::-webkit-scrollbar {
  display: none;
  width: 0px; /* For Chrome, Safari, and Opera */
}

.ListItem {
  cursor: pointer;
  height: em(44px);
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 em(17px);
  color: $placeholder;

  &:first-child {
    border-top-left-radius: em(10px);
    border-top-right-radius: em(10px);
  }
  &:last-child {
    border-bottom-left-radius: em(10px);
    border-bottom-right-radius: em(10px);
  }
  &:hover {
    background: $light_grey;
  }

  .ListItemTitle {
    font-size: em(12px);
    font-weight: normal;
    line-height: 120%;
  }

  // @include iftablet {
  //   height: em(61px);
  // }
  // @include ifmobile {
  //   height: em(44px);
  //   padding: 0 em(25px);
  // }
}

.Error {
  border: 2px solid $error;
}

.ErrorText {
  display: block;
  font-size: em(12px);
  line-height: 120%;
  color: $error;
  margin-top: em(20px);
}

// Обертки для форм в App части

.Select_Small {
  .SelectHeader {
    height: em(49px);
    p {
      font-size: em(18px);
    }
  }
  .SelectList {
    top: em(55px);
  }
  .ListItem {
    height: em(49px);
    .ListItemTitle {
      font-size: em(17px);
    }
  }
  .IconArrowBottom {
    top: calc((100% - em(17px)) / 2);
    right: em(15px);
    @include iftablet {
      top: calc(50% - em(13px));
    }
    @include ifmobile {
      top: calc(45% - em(7px));
    }
  }
  .IconArrowTop {
    display: none;
  }
}

.Select_VerySmall {
  .SelectHeader {
    height: em(49px);
    padding-left: em(20px);
    p {
      font-size: em(18px);
    }
  }
  .SelectList {
    top: em(55px);
  }
  .ListItem {
    height: em(49px);
    padding-left: em(20px);
    .ListItemTitle {
      font-size: em(17px);
    }
  }
  .IconArrowBottom {
    top: calc((100% - em(17px)) / 2);
    right: em(15px);
    @include iftablet {
      top: calc(50% - em(13px));
    }
    @include ifmobile {
      top: calc(45% - em(7px));
    }
  }
  .IconArrowTop {
    display: none;
  }
}
