@use 'sass:math';

html {
  color: $black;
  font-family: $font-Circe;
  font-size: math.div(16, 720) * 100vh;
  min-height: 100%;
  line-height: 1.8;
  scroll-behavior: smooth;
}

@media screen and (max-aspect-ratio: 1440/720) {
  html {
    font-size: math.div(16, 1440) * 100vw;
  }
}

@media only screen and (min-width: 1440px) and (max-aspect-ratio: 1440/720) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-height: 720px) and (min-aspect-ratio: 1440/720) {
  html {
    font-size: 16px;
  }
}

html {
  // @include iftablet {
  //   font-size: math.div(16, 769) * 100vw;
  // }

  @include ifmobile {
    font-size: math.div(16, 375) * 100vw;
  }
}

body {
  min-height: 100%;
}

a {
  color: $black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

textarea::placeholder {
  line-height: 120%;
}

.overflow-hidden {
  overflow: hidden;
}

//remove arrows in all browser
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
