%fullsize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%noprint {
  @media print {
    & {
      display: none;
    }
  }
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%button {
  position: relative;
  box-sizing: border-box;
  border: none;
  outline: none;
  @extend %center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

%background-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%background-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

%scroll-bar {
  &::-webkit-scrollbar-track {
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: em(6px);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(28, 37, 44, 0.1);
    border: none;
  }
}

%inner-shadow {
  box-shadow: inset 0 em(3px) em(3px) $grey;
}

%bottom-shadow {
  box-shadow: 0 em(2px) em(1px) $grey;
}

// %blue-gradient {
//   background: linear-gradient(to right, #003bf9, #0395ff) $blue;
// }

// %orange-gradient {
//   background: linear-gradient(to right, #FF5934, #FFBA38) $orange;
// }

// %background-gradient {
//   background: linear-gradient(to bottom, $purple, $blue) fixed;
// }
