$black: #101010;
$yellow: #e2f063;
$green: #13de4c;
$grey: #777777;
$white: #ffffff;
$blue: #1890ff;
$red: #ff0004;
$placeholder: rgba(0, 0, 0, 0.39);
$input: #f2f5f6;

$speed: 0.5s;

$navbar-width: 300px;
$navbar-height: 100px;
$header-height: 60px;
