$black: #101010;
$black2: #1e1e1e;
$black3: #4b4b4b;
$yellow: #e2f063;
$pink: #ea93d1;
$green: #13de4c;
$grey: #777777;
$gray2: #c4c4c4;
$light_grey: #eaeaea;
$white: #ffffff;
$placeholder: rgba(0, 0, 0, 0.39);
$input: #f2f5f6;
$error: #e891cf;

$speed: 0.1s;

$navbar-width: 300px;
$navbar-height: 100px;

$font-Circe: "Circe", sans-serif;
$font-Termina: "termina", sans-serif;
$font-Calibri: "Calibri", sans-serif;
$font-Flood: "Flood Std", sans-serif;
$font-stars: "fontStars", sans-serif;
