$black: #101010;
$yellow: #e2f063;
$green: #13de4c;
$grey: #777777;
$white: #ffffff;
$blue: #1890ff;
$red: #ff4d4f;
$placeholder: rgba(0, 0, 0, 0.39);
$input: #f2f5f6;

$pink: #ea93d1;
$gray2: #c4c4c4;
$light_grey: #eaeaea;
$error: #e891cf;
$black2: #1e1e1e;
$black3: #4b4b4b;

$speed: 0.5s;

$navbar-width: 300px;
$navbar-height: 100px;
$header-height: 60px;

$font-Circe: 'Circe', sans-serif;
$font-Calibri: 'Calibri', sans-serif;
$font-stars: 'fontStars', sans-serif;
