.Subtitle {
  color: $white;
  line-height: 100%;

  &_h1 {
    font-weight: bold;
    @include ifdesktop {
      font-size: em(18px);
    }
    @include ifmobile {
      font-size: em(16px);
    }
  }
  &_h2 {
    font-size: em(50px);
    color: $white;
    text-decoration: underline;
    font-weight: bold;
  }
  &_h3 {
    font-size: em(18px);
    font-weight: normal;
    @include ifmobile {
      font-size: em(16px);
    }
  }
}
