.Button {
  // global
  position: relative;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  @extend %button;
  border-radius: em(2px);
  transition: all 0.3s ease;
  // text
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  user-select: none;
  text-align: center;
  font-style: normal;
  line-height: em(16px);

  &_default {
    height: em(52px);
    padding: em(6px) em(20px);
    font-size: em(16px);
  }

  &_small {
    height: em(42px);
    padding: em(6px) em(12px);
    font-size: em(16px);
  }

  &:focus-visible {
    border: 1px solid black;
  }

  &:active {
    transform: scale(0.95);
  }
}

//default
.Button_default_variant {
  background: #2a86ff;

  @media (hover: hover) {
    &:hover {
      background: rgb(0, 78, 180);
    }
  }

  @media (hover: none) {
    &:active {
      background: rgb(0, 78, 180);
    }
  }
}

//secondary
.Button_secondary_variant {
  background: #7bc950;

  @media (hover: hover) {
    &:hover {
      background: rgb(68, 150, 40);
    }
  }
}

//outlined
.Button_outlined_variant {
  border: 1px solid #2a86ff;
  background: none;
  color: #2a86ff;

  @media (hover: hover) {
    &:hover {
      border: 1px solid rgb(0, 78, 180);
      background: rgb(0, 78, 180);
      color: #fff;
    }
  }

  @media (hover: none) {
    &:active {
      border: 1px solid rgb(0, 78, 180);
      background: rgb(0, 78, 180);
      color: #fff;
    }
  }
}

// link
.Button_link_variant {
  background: none;
  color: #2a86ff;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    transform: scale(1);
  }

  // @media (hover: hover) {
  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }
  // @media (hover: none) {
  //   &:active {
  //     transform: scale(1);
  //   }
  // }
}

//disabled style
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.5;
}

@media (hover: hover) {
}
@media (hover: none) {
}
