.Title {
  color: $black;
  line-height: 120%;
  font-weight: 700;

  &_h1 {
    font-size: em(32px);
  }
  &_h2 {
    font-size: em(26px);
  }
  &_h3 {
    font-size: em(22px);
    font-weight: 400;
  }
}
