.Title {
  margin: 0;
  color: $yellow;
  line-height: 120%;
  font-weight: 700;

  &_h1 {
    @include ifdesktop {
      font-size: em(54px);
    }
  }
  &_h2 {
    color: $white;
    text-decoration: underline;
    font-weight: bold;
    font-size: em(40px);
    font-weight: 700;
  }
  &_h3 {
    font-weight: 400;
    font-size: em(16px);
  }
}
