.BasePopup {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background: rgba(30, 30, 30, 0.9);
  min-height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

.BasePopupContent {
  position: relative;
  background: $black;
  margin: em(78px) auto;
  width: 100%;
  max-width: em(1303px);
  min-height: em(765px);
  padding: em(104px) em(18px) em(113px) em(105px);
  border-radius: 10px;
  overflow: hidden;
}

.Mini {
  width: 100%;
  max-width: em(860px);
  min-height: auto;
  padding: em(110px) em(153px) em(126px);
  margin: em(78px) auto;
}

.BasePopupClose {
  width: em(24px);
  height: em(32px);
  position: absolute;
  top: em(34px);
  right: em(34px);
  cursor: pointer;
  z-index: 100;
}

.Visible {
  display: block;
}
