.BaseTextarea {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Textarea {
  $size: 14px;
  font-size: em($size);
  font-family: $font-Circe;
  color: $black;
  line-height: 120%;
  width: 100%;
  height: 100%;
  min-height: em(34px, $size);
  outline: none;
  box-sizing: border-box;
  position: relative;
  background: $input;
  vertical-align: middle;
  border: none;
  padding: em(6px, $size) em(12px, $size);
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
  position: relative;
  border: 1px solid $grey;
  border-radius: 2px;
  background-color: $white;

  &::-webkit-scrollbar {
    width: em(5px);
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background: $black;
    border-radius: em(10px, 14px);
  }

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $blue;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}

.Error {
  border: 1px solid $red;
}

.ErrorText {
  display: block;
  font-size: em(12px);
  line-height: 100%;
  color: $red;
  margin-top: em(10px);
}

.Label {
  font-size: em(12px);
  line-height: 120%;
  color: $grey;
  text-transform: uppercase;
  margin-bottom: em(10px);
}

.ShowCount {
  font-size: em(12px);
  line-height: 120%;
  color: $grey;
  margin-top: em(10px);
  display: flex;
  align-self: end;
  // position: relative;
  // right: 0;
}
