.tooltip[data-tool-tip] {
  position: relative;
}
.tooltip[data-tool-tip]:hover::before {
  visibility: visible;
  opacity: 1;
}
.tooltip[data-tool-tip]::before {
  text-align: center;
  content: attr(data-tool-tip);
  visibility: hidden;
  opacity: 0;
  width: auto;
  min-width: 120px;
  max-width: 300px;
  position: absolute;
  display: block;
  background-color: #5a5a5a;
  color: white;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
  transition: opacity ease-out 150ms, bottom ease-out 150ms;
  padding: 6px 8px;
  color: #fff;
  word-wrap: break-word;
  background-color: #000000bf;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
}
.tooltip[data-position='top']::before {
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
}
.tooltip[data-position='right']::before {
  left: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.tooltip[data-position='bottom']::before {
  top: 100%;
}
.tooltip[data-position='left']::before {
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
