.Tooltip {
  $size: 14px;
  z-index: 100;
  width: max-content;
  min-width: em(120px, $size);
  max-width: em(200px, $size);
  height: max-content;
  padding: em(6px, $size) em(8px, $size);
  position: fixed;
  @extend %center;
  font-size: em($size);
  line-height: 120%;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  color: $white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;

  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &__Show {
    opacity: 1;
    transform: translateY(0);
  }

  &__Hide {
    opacity: 0;
    transform: translateY(-10px);
  }

  &_Wrapper {
    position: relative;
    display: inline-block;
  }
}
