.Tooltip {
  position: relative;
  display: inline-block;
}

.Tooltip:hover {
  .Title {
    visibility: visible;
    opacity: 1;
  }
}

.Title {
  $size: 14px;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  width: max-content;
  min-width: em(120px, $size);
  max-width: em(200px, $size);
  height: max-content;
  position: absolute;
  @extend %center;
  font-size: em($size);
  line-height: 120%;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  color: $white;
  padding: em(6px, $size) em(8px, $size);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
  transition: opacity ease-out 150ms, bottom ease-out 150ms;
}

.Title[data-position='top'] {
  bottom: calc(100% + em(10px, 14px));
  transform: translateX(-50%);
  left: 50%;
}

.Title[data-position='right'] {
  left: calc(100% + em(10px, 14px));
  top: 50%;
  transform: translateY(-50%);
}

.Title[data-position='bottom'] {
  top: calc(100% + em(10px, 14px));
  transform: translateX(-50%);
  left: 50%;
}

.Title[data-position='left'] {
  right: calc(100% + em(10px, 14px));
  top: 50%;
  transform: translateY(-50%);
}
