.BaseInput {
  font-size: 100%;
  position: relative;
}

.InputWrapper {
  position: relative;
  display: block;
  border: 1px solid $grey;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $blue;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}

.Input {
  width: 100%;
  height: 100%;
  $size: 14px;
  font-size: em($size);
  font-family: 'Roboto', sans-serif;
  padding: em(6px, $size) em(12px, $size);
  box-sizing: border-box;
  background-color: #fff;
  outline: none;
  border: none;
  @include placeholder-color($placeholder);
}

.InputIconRight {
  $size: 14px;
  padding: em(6px, $size) em(30px, $size) em(6px, $size) em(12px, $size);
}

.InputIconLeft {
  $size: 14px;
  padding: em(6px, $size) em(12px, $size) em(6px, $size) em(30px, $size);
}

.Icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: em(14px);
  height: em(14px);
}

.IconPassword {
  right: em(10px);
  cursor: pointer;
}

.IconRight {
  right: em(10px);
}

.IconLeft {
  left: em(10px);
}

.Error {
  border: 1px solid $red;
}

.ErrorText {
  font-size: em(12px);
  line-height: 100%;
  color: $red;
  display: block;
  margin-top: em(5px);
}

.Label {
  font-size: em(12px);
  line-height: 100%;
  color: $grey;
  text-transform: uppercase;
}
