.BaseRadioButton {
  position: relative;
  user-select: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    .BaseRadioButtonCheck {
      background: $yellow;
    }
    .BaseRadioButtonCheck.isActive {
      background: $yellow;
    }
  }

  &:hover {
    .BaseRadioButtonTick {
      top: 20%;
      left: 20%;
      @include iftablet {
      }
      @include ifmobile {
      }
    }
  }
  .BaseRadioButtonTitle {
    font-size: em(19px);
    line-height: 100%;
    color: $white;
    margin-left: em(25px);
    padding-top: em(5px);
  }
  .BaseRadioButton {
    position: absolute;
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  .BaseRadioButtonCheck {
    box-sizing: border-box;
    width: em(31px);
    height: em(31px);
    border-radius: 50%;
    background: $input;
    position: relative;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include iftablet {
      width: em(22px);
      height: em(22px);
    }
    @include ifmobile {
      width: em(20px);
      height: em(20px);
    }
  }

  .BaseRadioButtonTick {
    width: em(11px);
    height: em(11px);
    border-radius: 50%;
    position: absolute;
    background: $black;
    top: 35%;
    left: 35%;
    visibility: hidden;
    transform: scale(1.5);
    @include iftablet {
      width: em(8px);
      height: em(8px);
    }
    @include ifmobile {
      width: em(8px);
      height: em(8px);
    }
  }

  .isError {
    border: 2px solid $pink;
  }

  .isActive {
    .BaseRadioButtonTick {
      visibility: visible;
      transform: scale(1);
      transition: transform $speed;
      top: 33%;
      left: 33%;
      @include iftablet {
      }
      @include ifmobile {
        top: 30%;
        left: 30%;
      }
    }
  }
}
