.BaseRadioButton {
  position: relative;
  user-select: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 100%;

  &:hover {
    .BaseRadioButtonCheck {
      border: 1px solid $blue;
    }
  }

  .Label {
    font-size: em(16px);
    color: $black;
    margin-left: em(10px);
  }
  .Input {
    position: absolute;
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  .BaseRadioButtonCheck {
    box-sizing: border-box;
    width: em(20px);
    height: em(20px);
    border-radius: 50%;
    position: relative;
    border: 1px solid $grey;
  }

  .BaseRadioButtonTick {
    width: em(10px);
    height: em(10px);
    border-radius: 50%;
    position: absolute;
    background: $blue;
    top: 22%;
    left: 22%;
    visibility: hidden;
    transform: scale(0.5);
  }

  .isError {
    border: 1px solid $red;
  }

  .isActive {
    .BaseRadioButtonTick {
      visibility: visible;
      transform: scale(1);
      transition: transform $speed;
    }
  }
}

.isActive {
  .BaseRadioButtonCheck {
    border: 1px solid $blue;
  }
}

.BaseRadioButton.Disabled {
  cursor: not-allowed;
  opacity: 0.5;
  .BaseRadioButtonCheck {
    background-color: #f5f5f5;
    border-color: #d9d9d9;
  }
}

//button style
.RadioButton_button {
  min-width: em(80px);
  padding: em(6px) em(10px);
  border: 1px solid $grey;
  @extend %button;

  &:nth-child(even),
  &:nth-child(odd) {
    border-right-width: 0px;
  }

  &:last-child {
    border-right-width: 1px;
  }

  .BaseRadioButtonCheck {
    display: none;
  }

  .Label {
    color: $black;
    margin-left: 0;
  }

  &:hover {
    .Label {
      color: $blue;
    }
  }

  &.isActive {
    background: $blue;
    border-color: $blue;
    transition: ease $speed;
    position: relative;
    .Label {
      color: $white;
    }

    &::before {
      display: block;
      content: '';
      width: 1px;
      height: calc(100% + 2px);
      background: $blue;
      position: absolute;
      z-index: 1;
      right: -1px;
    }
  }

  &.Disabled {
    opacity: 1;
    background-color: #f5f5f5;
    cursor: not-allowed;

    .Label {
      color: #00000040;
    }
  }
}
