.BaseCheckbox {
  position: relative;
  user-select: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    .BaseCheckboxCheck {
      border: 1px solid $blue;
    }
  }

  .BaseCheckboxTitle {
    font-size: em(14px);
    line-height: 100%;
    color: $black;
    margin-left: em(10px);
  }

  .BaseCheckboxInput {
    position: absolute;
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  .BaseCheckboxCheck {
    box-sizing: border-box;
    width: em(20px);
    height: em(20px);
    border-radius: 10%;
    position: relative;
    border: 1px solid $grey;
  }

  .BaseCheckboxTick {
    width: em(12px);
    height: em(14px);
    position: absolute;
    top: 10%;
    left: 15%;
    visibility: hidden;
    transform: scale(1.5);
  }

  .isError {
    border: 1px solid $red;
  }

  .isActive {
    background: $blue;
    border: 1px solid $blue;
    .BaseCheckboxTick {
      visibility: visible;
      transform: scale(1);
      transition: transform $speed;
      path {
        stroke: $white;
      }
    }
  }
}
