//general
.Button {
  font-size: 100%;
  min-width: em(120px);
  padding: em(8px) em(15px);
  border-radius: em(10px);
  @extend %button;

  .Title {
    font-size: em(12px);

    font-family: $font-Circe;
    font-weight: 600;
    // text-transform: uppercase;
  }
}

//disabled style
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
  color: #00000040;
  border-color: #d9d9d9;
  background: #f5f5f5;
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

//default
.Button_default {
  color: $white;
  background: $blue;
  box-shadow: 0 em(2px) em(16px) rgba(15, 103, 240, 0.5);
  transition: box-shadow $speed;

  &:hover {
    background: darken($blue, 10%);
    box-shadow: 0 em(4px) em(18px) rgba(15, 103, 240, 1);
  }

  &:active {
    background: darken($blue, 20%);
    box-shadow: none;
  }
}

//success
.Button_success {
  color: $white;
  background: $green;
  box-shadow: 0 em(2px) em(16px) rgba(15, 240, 67, 0.5);
  transition: box-shadow $speed;

  &:hover {
    background: darken($green, 10%);
    box-shadow: 0 em(2px) em(16px) rgba(15, 240, 67, 1);
  }

  &:active {
    background: darken($green, 20%);
    box-shadow: none;
  }
}

//cencel
.Button_cencel {
  color: $white;
  background: $red;
  box-shadow: 0 em(2px) em(16px) rgba(240, 15, 15, 0.5);
  transition: box-shadow $speed;

  &:hover {
    background: darken($red, 10%);
    box-shadow: 0 em(2px) em(16px) rgba(240, 15, 15, 1);
  }

  &:active {
    background: darken($red, 20%);
    box-shadow: none;
  }
}

//link
.Button_link {
  color: $blue;
  padding: 0;
  min-width: auto;
  height: 100%;
  border-color: transparent;
  background: 0 0;
  box-shadow: none;
  .Title {
    text-transform: inherit;
  }
  &:hover {
    color: darken($blue, 10%);
  }
  &:active {
    color: darken($blue, 20%);
  }
}

//icon loader
.IconLoader {
  width: em(15px);
  height: em(15px);
  margin-right: em(10px);
  animation: rotate 1s linear infinite;
  transition: all 1s ease;
}
//icon loader animation
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}
