@use '../src/assets/scss/core.scss';

.Container {
  width: 100%;
  max-width: em(1180px);
  margin: 0 auto;
}

.df {
  display: flex;
}
.fdc {
  flex-direction: column;
}

.Mb10 {
  margin-bottom: 10px;
}

.Mb20 {
  margin-bottom: 20px;
}

.Mr20 {
  margin-right: 20px;
}

.Ml20 {
  margin-left: 20px;
}

.Mr10 {
  margin-right: 10px;
}

.Headline {
  display: flex;
  align-items: center;
}

.Block {
  display: flex;
  flex-wrap: wrap;
}

.Icon {
  display: flex;
  width: em(15px);
  height: em(15px);
}

.mw300 {
  max-width: em(300px);
}

.mw400 {
  max-width: em(400px);
}

.h100 {
  height: em(100px);
}
