.BaseInput {
  font-size: 100%;
  position: relative;
}

.InputWrapper {
  position: relative;
  display: block;
  border: 1px solid $grey;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover {
    border-color: $blue;
    .InputNumberHandlerWrap {
      opacity: 1;
    }
  }

  &:focus {
    border-color: $blue;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}

.Input {
  width: 100%;
  height: 100%;
  $size: 14px;
  font-size: em($size);
  font-family: 'Roboto', sans-serif;
  padding: em(6px, $size) em(12px, $size);
  box-sizing: border-box;
  background-color: #fff;
  outline: none;
  border: none;
  @include placeholder-color($placeholder);
}

.InputIconRight {
  $size: 14px;
  padding: em(6px, $size) em(30px, $size) em(6px, $size) em(12px, $size);
}

.InputIconLeft {
  $size: 14px;
  padding: em(6px, $size) em(12px, $size) em(6px, $size) em(30px, $size);
}

.Icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: em(14px);
  height: em(14px);
}

.IconPassword {
  right: em(10px);
  cursor: pointer;
}

.IconRight {
  right: em(10px);
}

.IconLeft {
  left: em(10px);
}

.Error {
  border: 1px solid $red;
}

.ErrorText {
  font-size: em(12px);
  line-height: 100%;
  color: $red;
  display: block;
  margin-top: em(5px);
}

.Label {
  font-size: em(12px);
  line-height: 100%;
  color: $grey;
  text-transform: uppercase;
}

.InputNumberHandlerWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: em(22px);
  height: 100%;
  background: #fff;
  border-radius: 0 2px 2px 0;
  opacity: 0;
  transition: opacity 0.24s linear 0.1s;

  &:hover {
    .InputNumberHandler {
      height: 40%;
    }
  }

  .InputNumberHandler {
    position: relative;
    width: 100%;
    height: 50%;
    border-left: 1px solid #d9d9d9;
    transition: all 0.1s linear;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
  }

  .InputNumberHandlerUp,
  .InputNumberHandlerDown {
    &:hover {
      height: 60%;
      .IconArrow {
        fill: $blue;
      }
    }
  }
}

.InputNumberHandlerDown {
  border-top: 1px solid #d9d9d9;
}

.InputNumberHandlerUpInner,
.InputNumberHandlerDownInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.IconArrow {
  width: em(8px);
}

.IconArrowDown {
  transform: rotateZ(180deg);
}
